[profile prod]
aws_access_key_id=AKIAJCVZQN4W6IK67XAQ
aws_secret_access_key=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
dbuser=erichall
dbpwd=f9FDvO4w6h
mysqldbuser=sa
mysqldbpwd=154Chris
testhost=vcs-dw-01.cjpkvjykaaiu.us-east-1.redshift.amazonaws.com
prodhost=vc-dwh-prod1.cjpkvjykaaiu.us-east-1.redshift.amazonaws.com
port=5439
sqlengine=redshift+psycopg2://erichall:f9FDvO4w6h@vc-dwh-prod1.cjpkvjykaaiu.us-east-1.redshift.amazonaws.com:5439/vcdwh
sqlserver=Driver={SQL Server};Server=SQL01;UID=SQL_AWS;PWD=Village!;Database=PCM;
filedir=\\vcsecureftp\\parentroot\\VCMDataRoot\\Sentry\\outgoing\\

[messaging]
emailfrom=aws-data-service@villagecare.org	
emailto=aws-data-service@villagecare.org